<div id="custom-confirm-dialog">
  <div class="overlay"></div>
  <div class="content">
    <h4><%= t('.title') %></h4>
    <p><span data-is="message"></span></p>
    <button data-is="cancel-button"><%= t('.buttons.cancel') %></button>
    <button data-is="ok-button"><%= t('.buttons.confirm') %></button>
  </div>
</div>
